html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.game-title {
  font-family: Anonymous;
  color: black;
  text-shadow: 1px 1px 3px white;
}

.game-byline {
  color: black;
  text-shadow: 1px 1px 3px white;
}

.game {
  display: flex;
  justify-content: center;
}

.game-board {
  border: 2.5px solid black;
  display: flex;
  justify-content: center;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.5);
}

.game-box {
  border: 2.5px solid black;
  width: 150px;
  height: 75px;
  font-weight: bold;
  overflow: hidden;
  text-align: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-category {
  background-color: rgb(17, 17, 133);
  text-shadow: 1px 1px 2px black;
}

.game-category-header {
  color: white;
  font-size: 1.5em;
  line-height: 1em;
}

.game-answer-clue {
  color: white;
  background-color: rgb(17, 17, 133) !important;
  border: 5px solid black !important;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 3px 2px black;
  overflow: hidden!important;
}

.game-answer-amount {
  color: rgb(220, 190, 86);
  font-size: 2.5em;
  cursor: pointer;
}

.game-answer-amount::before {
  content: "$";
}

.selected {
  border-color: red;
}

.ui-dialog {
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.5);
}

.ui-widget.ui-widget-content {
  border-color: transparent;
}

.ui-dialog-titlebar,
.no-close .ui-dialog-titlebar-close {
  display: none;
}
